@model OrganicShop.Models.Products

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">  <a asp-action="Index">Home  </a>  </li>
        <li class="breadcrumb-item">  <a href="#">News </a> </li>
        <li class="breadcrumb-item active" aria-current="page">Create</li>
    </ol>
</nav>
<form asp-action="Edit" asp-route-id="@Model.ProductID" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ProductID" />
    <input type="hidden" asp-for="Thumb" />
    <div class="mdi-page-layout-header no-gutters has-tab">
        <div class="d-md-flex align-items-center justify-content-between">
            <div class="media align-items-center m-b-15">
            </div>
            <div class="m-b-15">
                <button class="btn btn-primary">
                    <i class="mdi mdi-content-save-edit">
                        <span>Save</span>
                    </i>
                </button>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#nav-tabs-home" role="tab"
               aria-controls="nav-tabs" aria-selected="true">Product Infomation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="nav-profile-tab" data-toggle="pill" href="#nav-profile" role="tab"
               aria-controls="nav-profile" aria-selected="false">SEO Information</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="nav-mota-tab" data-toggle="pill" href="#nav-mota" role="tab"
               aria-controls="nav-mota" aria-selected="false">Description</a>
        </li>
    </ul>

    <div class="tab-content m-t-15" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-tabs-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <img src="~/images/products/@Model.Thumb" width="200" height="200" class="change_edit" /><br />
                        <label class="font-weight-bold" for="Thumb">Image</label>
                        <input type="file" asp-for="Thumb" class="form-control changeImage" />
                        <span asp-validation-for="Thumb" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold" for="Title">Product Name</label>
                        <input type="text" class="form-control" asp-for="ProductName" />
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold" for="Title">Title</label>
                        <input type="text" class="form-control" asp-for="Title" />
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold" for="Title">ShortDesc</label>
                        <input type="text" class="form-control" asp-for="ShortDesc" />
                    </div>
                   
                    <div class="form-group">
                        <label class="font-weight-bold" for="Thumb">Categories</label>
                        @Html.DropDownList("CatID", ViewBag.CategoryList as SelectList, "Select Categories", new{@class="form-control"})
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold" for="Thumb">Video</label>
                        <input name="Photo" type="file" class="form-control" asp-for="Video" />
                        <span asp-validation-for="Video" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="font-weight-bold" for="Title">Price</label>
                            <input type="number" class="form-control" asp-for="Price" />
                        </div>
                        <div class="form-group col-md-4">
                            <label class="font-weight-bold" for="Title">Discount</label>
                            <input type="number" class="form-control" asp-for="Price" />
                        </div>
                        <div class="form-group col-md-4">
                            <label class="font-weight-bold" for="Title">Unit Stock</label>
                            <input type="number" class="form-control" asp-for="UnitslnStock" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold" for="Title">Status</label>
                            <select asp-for="Active" class="custom-select" style="min-width:200px;" asp-items="ViewBag.StatusList">
                                <option value="" disable selected>Status</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold" for="Title">Best Sellers</label>
                            <select asp-for="BestSellers" class="custom-select" style="min-width:200px;" asp-items="ViewBag.BestSellersList">
                                <option value="" disable selected>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold" for="Title">Tags</label>
                        <input type="text" class="form-control" asp-for="Tags" />
                    </div>
                    <div class="row">
                        <div class="form-group d-flex align-items-center">
                            <p style="color:red">Home Flag</p>
                            <label class="switch switch-info switch-pill form-control-label mr-2">
                                <input type="checkbox" class="switch-input form-check-input" asp-for="HomeFlag">
                                <span class="switch-label" style="background-color: #8a909d;"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-bold" for="MetaDesc">MetaDesc</label>
                        <input type="text" class="form-control" asp-for="MetaDesc" />
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold" for="MetaKey">MetaKey</label>
                        <input type="text" class="form-control" asp-for="MetaKey" />
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="nav-mota" role="tabpanel" aria-labelledby="nav-mota-tab">
            <div class="card">
                <div class="card-body">
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</form>
<hr />
<div>
    <a asp-action="Index"><i class="mdi mdi-arrow-left-bold" style="font-size: 20px;"><span>Back</span></i></a>
</div>
@section Scripts
    {
    @await Html.PartialAsync("_Summernote", new {height = 200, selector = "#Description"})
}
