@model IEnumerable<OrganicShop.Models.Products>
    <div class="row featured__filter">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__discount__item">
                    <div class="product__discount__item__pic set-bg"
                         data-setbg="../images/products/@item.Thumb">
                        <div class="product__discount__percent"><img src="~/img/product/bestseller-sales-printing-others.jpg" style="border-radius: 100%; color:#ff0000" /></div>
                        <ul class="product__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product__discount__item__text">
                        <h5><a href="#">@item.ProductName</a></h5>
                        <div class="product__item__price">$@item.Price</div>
                    </div>
                </div>
            </div>
        }
    </div>
