<!-- ====================================
     ——— LEFT SIDEBAR WITH OUT FOOTER
   ===================================== -->
<aside class="left-sidebar sidebar-dark" id="left-sidebar">
    <div id="sidebar" class="sidebar sidebar-with-footer">
        <!-- Aplication Brand -->
        <div class="app-brand">
            <a href="/index.html">
                <img src="~/adminassets/images/logo.png" alt="Organi">
                <span class="brand-name">Ogani</span>
            </a>
        </div>

        <!-- begin sidebar scrollbar -->
        <div class="sidebar-left" data-simplebar style="height: 100%;">
            <!-- sidebar menu -->
            <ul class="nav sidebar-inner" id="sidebar-menu">


                <!--Dashboard-->
                <li class="active">
                    <a class="sidenav-item-link" href="index.html">
                        <i class="mdi mdi-briefcase-account-outline"></i>
                        <span class="nav-text">Dashboard</span>
                    </a>
                </li>

                <!--order -->
                <li class="has-sub">
                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#ui-elements"
                       aria-expanded="false" aria-controls="ui-elements">
                        <i class="mdi mdi-vector-arrange-above"></i>
                        <span class="nav-text">Order </span> <b class="caret"></b>
                    </a>
                    <ul class="collapse" id="ui-elements"
                        data-parent="#sidebar-menu">
                        <div class="sub-menu">

                        <li>
                            <a class="sidenav-item-link" href="alert.html">
                                <span class="nav-text">Order List</span>

                            </a>
                        </li>
        </div>
        </ul>
        </li>

        <!--Product -->
        <li class="has-sub">
            <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#charts"
               aria-expanded="false" aria-controls="charts">
                <i class="mdi mdi-package"></i>
                <span class="nav-text">Product </span> <b class="caret"></b>
            </a>
            <ul class="collapse" id="charts"
                data-parent="#sidebar-menu">
                <div class="sub-menu">
                <li>
                    <a class="sidenav-item-link" asp-area="Admin" asp-controller="Products" asp-action="Index">
                        <span class="nav-text">Product List</span>

                    </a>
                </li>
    </div>
    <div class="sub-menu">
        <li>
            <a class="sidenav-item-link" asp-area="Admin" asp-controller="Products" asp-action="searchListProduct">
                <span class="nav-text">Search products</span>

            </a>
        </li>
    </div>
    </ul>
    </li>

    <!--Customer -->
    <li class="has-sub">
        <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#users"
           aria-expanded="false" aria-controls="users">
            <i class="mdi mdi-account"></i>
            <span class="nav-text">Customer </span> <b class="caret"></b>
        </a>
        <ul class="collapse" id="users"
            data-parent="#sidebar-menu">
            <div class="sub-menu">

            <li>
                <a class="sidenav-item-link" asp-area="Admin" asp-controller="Customers" asp-action="Index">
                    <span class="nav-text">Customer List</span>

                </a>
            </li>

            <li>
                <a class="sidenav-item-link" asp-area="Admin" asp-controller="Customers" asp-action="SearchCustomers">
                    <span class="nav-text">Search customers</span>

                </a>
            </li>   
            </div>
            
        </ul>
    </li>

    <!--Revenue-->
    <li class="has-sub">
        <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#authentication"
           aria-expanded="false" aria-controls="authentication">
            <i class="mdi mdi-chart-line"></i>
            <span class="nav-text">Revenue</span> <b class="caret"></b>
        </a>
        <ul class="collapse" id="authentication"
            data-parent="#sidebar-menu">
            <div class="sub-menu">

            <li>
                <a class="sidenav-item-link" href="sign-in.html">
                    <span class="nav-text">Avenue List</span>

                </a>
            </li>
            </div>
        </ul>
    </li>

    <!--System -->
    <li class="has-sub">
        <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#other-page"
           aria-expanded="false" aria-controls="other-page">
            <i class="mdi mdi-settings-outline"></i>
            <span class="nav-text">System </span> <b class="caret"></b>
        </a>
        <ul class="collapse" id="other-page"
            data-parent="#sidebar-menu">
            <div class="sub-menu">

            <li>
                <a class="sidenav-item-link" asp-area="Admin" asp-controller="Account" asp-action="Index">
                    <span class="nav-text">Accounts</span>

                </a>
            </li>

            <li>
                <a class="sidenav-item-link" asp-area="Admin" asp-controller="Roles" asp-action="Index">
                    <span class="nav-text">Roles</span>

                </a>
            </li>

            <li>
                <a class="sidenav-item-link" asp-area="Admin" asp-controller="Categories" asp-action="Index">
                    <span class="nav-text">Categories</span>

                </a>
            </li>

            <li>
                <a class="sidenav-item-link" asp-area="Admin" asp-controller="Locations" asp-action="Index">
                    <span class="nav-text">Locations</span>

                </a>
            </li>
            <li>
                <a class="sidenav-item-link" asp-area="Admin" asp-controller="Payments" asp-action="Index">
                    <span class="nav-text">Payments</span>

                </a>
            </li>
            <li>
                <a class="sidenav-item-link" asp-area="Admin" asp-controller="TransactStations" asp-action="Index">
                    <span class="nav-text">Transaction Status</span>

                </a>
            </li>
            </div>
        </ul>
    </li>

    <!--News -->
    <li class="has-sub">
        <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#customization"
           aria-expanded="false" aria-controls="customization">
            <i class="mdi mdi-newspaper"></i>
            <span class="nav-text">News </span> <b class="caret"></b>
        </a>
        <ul class="collapse" id="customization"
            data-parent="#sidebar-menu">
            <div class="sub-menu">

            <li>
                <a class="sidenav-item-link" asp-area="Admin" asp-controller="Posts" asp-action="Index">
                    <span class="nav-text">News List</span>

                </a>
            </li>

            <li>
                <a class="sidenav-item-link" href="sidebar-customization.html">
                    <span class="nav-text">Search News</span>

                </a>
            </li>

            </div>
        </ul>
    </li>

    <!--Pages -->
    <li>
        <a class="sidenav-item-link" asp-area="Admin" asp-controller="Pages" asp-action="Index">
            <i class="mdi mdi-google-pages"></i>
            <span class="nav-text">Pages</span>
        </a>
    </li>


    <!--Shipper-->
    <li class="has-sub">
        <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#shippers"
           aria-expanded="false" aria-controls="customization">
            <i class="mdi mdi-walk"></i>
            <span class="nav-text">Shipper </span> <b class="caret"></b>
        </a>
        <ul class="collapse" id="shippers"
            data-parent="#sidebar-menu">
            <div class="sub-menu">

            <li>
                <a class="sidenav-item-link" asp-area="Admin" asp-controller="Shippers" asp-action="Index">
                    <span class="nav-text">Shipper List</span>

                </a>
            </li>

            </div>
        </ul>
    </li>
    </ul>

    </div>

    <div class="sidebar-footer">
        <div class="sidebar-footer-content">
            <ul class="d-flex">
                <li>
                    <a href="user-account-settings.html" data-toggle="tooltip" title="Profile settings"><i class="mdi mdi-settings"></i></a>
                </li>
                <li>
                    <a href="#" data-toggle="tooltip" title="No chat messages"><i class="mdi mdi-chat-processing"></i></a>
                </li>
            </ul>
        </div>
    </div>
    </div>
</aside>
