@model IEnumerable<OrganicShop.Models.TransactStatus>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">  <a href="#"><i class="mdi mdi-home"></i>Home</a>  </li>
        <li class="breadcrumb-item"> System</li>
        <li class="breadcrumb-item">Transaction Status</li>
        <li class="breadcrumb-item active" aria-current="page">List</li>

    </ol>
</nav>
<!-- Basic Table-->
<div class="card card-default card-responsive">
    <div class="card-header">
        <a asp-action="Create" class="btn btn-sm btn-outline-primary"><i class="mdi mdi-plus-circle" style="font-size: 15px;" title="Create"><span>Create</span></i></a>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.TransactStatusID</td>
                            <td>@item.Status</td>
                            <td>
                                <a asp-action="Details">
                                    <i class="mdi mdi-eye" style="font-size: 20px; color:black;padding-left: 15px;" title="View"></i>
                                </a>
                                <a asp-action="Edit">
                                    <i class="mdi mdi-pencil" title="Edit" style="font-size: 20px; color:black; padding-left: 15px;"></i>
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <!--Pagination-->
</div>


